# vite-plugin-wasm has not yet declared Vite 8 in its peerDependencies
legacy-peer-deps=true
min-release-age=3600
min-release-age-exclude=vite-plus,vite,vitest,@voidzero-dev/*,@oxc-project/*,@oxlint/*,oxlint,oxfmt,oxlint-tsgolint
